.container{
  background-color: white;
}


.header{
  width: 100%;
}

.coins{
  width: 5%;
  height:2%;
  margin-left: 2%;
  border-radius: 50%;
}

.cards{
  display: flex;
  margin-top: 5%;
}

.addBackground{
  background-color: aliceblue;
  margin-left: 2%;
  margin-right:2%;
  padding: 0.5%;
  display: flex;
  margin-top: 5%;
  width:40%
}

.addButton:hover{
  cursor: pointer;
}

